<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add Country</title>
</head>

<body>
    <form action="/addcountry" method="POST">
        <label for="country">Country:</label>
        <input type="text" id="country" name="country" required>
        <label for="population">Population:</label>
        <input type="text" id="population" name="population" required>
        <label for="gdp">GDP:</label>
        <input type="text" id="gdp" name="gdp" required>
        <input type="submit" value="Add">
    </form>
</body>

</html>